#info{
    background: #1c3763;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-med{
    margin: 20px;

}

.info-med img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

@media (min-width:480px){ /*en vez de tres imagenes se hacen cuatro*/
    .info-med{
        width: 40%;
    }
}

@media (min-width:1024px){ 
    .info-med{
        width: auto;
    }
}

