

*{
    box-sizing: border-box;
}

#socios, .socios1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.socios1{
    width: 700px;
    color: #1c52a2;
    font-family: 'Gill Sans MT';
    font-size: 20px;
    
}

.soc{
    font-size: 30px;
}

.soci{
    margin: auto;
    padding-top: 10px;
    color: #1c52a2;
    font-family: 'Gill Sans MT';
}



@media(max-width: 1024px){
    .soc{
    font-family: 'Gill Sans MT';
    color: #1c52a2;
    font-size: 20px;
    }
}

@media (max-width: 1024px){
    .socios1{
        width: 80%;
        font-size: 15px;
        /*background: #1c52a2;*/
        color: #1c52a2;
        

    }
}